<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<body>

<h1>Meeting Invitation</h1>

<form action="/invitation" method="post">
  <h2>Selected Free Times:</h2>
  <input type="hidden" name="freeblocks" value="{{ g.freeblocks }}"></input>
  {% for freeblock in g.freeblocks %}
      {{ freeblock }} <br/> <br/>
  {% endfor %}

<!-- Select how many ppl to invite, then bring up textboxes to enter names -->
  Enter the number of people you wish to invite: 
  <select name="invite_num" value=1>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
    <option value=9>9</option>
    <option value=10>10</option>
  </select>
  <input type="submit" value="Submit"/> <br/> <br/>

  <!-- Hidden field from index.html, used for refreshing page -->
<input type="hidden" name="invite" value="{{ g.invitation }}"></input>

{% if g.invite_num is number %}
<!-- if x is defined, used for updating stuff -->
  Please enter a name for each person you would like to invite. <br/> <br/>
  {% for i in range(g.invite_num) %}
    Enter a name: <input type="text" name="names" /> <br/> <br/>
  {% endfor %}
  <form action="/invitation" method="post">
  <input type="submit" value="Generate URLs"/>
  </form>
{% endif %}

{% if g.names is defined %}
  {% for name in g.names %}
    URL for {{ name }}: x <br/> <br/>
  {% endfor %}
  Please copy and paste the corresponding url into an email to each corresponding invitee. <br/> <br/>
  <!-- {% for name in g.urls %}
    URL for {{ name }}: x <br/> <br/>
  {% endfor %} -->
{% endif %}

</form>

<form action="/display" method="post">
  <input type="submit" value="Cancel"/>
</form>

<!-- if g.x is defined, display top marks for meetings + warning to user that they may need to refresh the page to see results -->

</body>
</html>