<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<body>

<h1>Meeting Invitation</h1>

<h2>Selected Free Times:</h2>
{% for freeblock in g.freeblocks %}
    {{ freeblock }} <br/> <br/>
{% endfor %}

<!-- select how many ppl to invite, then bring up textboxes to enter names -->

<!-- <form action="/invitation" method="post"> -->
  <!-- <input type="text" name="name"> -->
<!-- </form> -->

<form action="/display" method="post">
<input type="submit" value="Cancel"/>
</form>

<!-- if g.x is defined, display top marks for meetings + warning to user that they may need to refresh the page to see results -->

</body>
</html>